[Desktop Entry]
Version=1.0
Terminal=false
Name=3D_tkemc
Exec=linuxcnc /home/cnc/machinekit/configs/3D_tkemc/3D_tkemc.ini
Type=Application
Comment=Desktop Launcher for Machinekit config
Icon=/usr/share/linuxcnc/machinekiticon.png
Name[en_US.UTF-8]=3D_tkemc
